===========
{{package}}
===========

xRally plugins for {{platform|title}} platform.

What is it?!
------------

{{description}}

How to use?!
------------

**{{package}}** package is configured to be auto-discovered by xRally.
Since xrally package is a dependency of **{{package}}** , so to start using
**{{package}}** you need to install just one package:

  .. code-block:: console

    pip install {{package}}


Know issues
-----------

None.
